.shop-page {
  margin-top: 40px;
  width: 100%;
  display: flex;
}
.product-el {
  width: 18%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 1px #bbbbbb;
  border-radius: 8px;
  text-align: center;
  padding: 25px 0;
}
.product-el img {
  width: 100%;
  /* border-top-right-radius: 8px; */
  /* border-top-left-radius: 8px; */
}
.product-el button {
  border: 1px solid #0f613f;
  padding: 8px 15px;
  border-radius: 8px;
  color: #0f613f;
  background-color: transparent;
  margin-top: 20px;
}
.product-el button:hover {
  background-color: #0f613f;
  color: white;
  cursor: pointer;
}
.product-el h1 {
  margin-top: 10px;
}
