.header {
  width: 100%;
  /* margin: 0 auto; */
  height: 5rem;
  background-color: #0f613f;
}
.nav {
  height: 100%;
}
.header ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.header li {
  list-style: none;
}
.header a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}
.nav a:hover,
.nav a:active,
.nav a.active {
  color: #d9ff00;
}
