.add-product button {
  border: 1px solid #0f613f;
  padding: 8px 15px;
  border-radius: 8px;
  color: #0f613f;
  background-color: transparent;
  margin-top: 20px;
}
.add-product button:hover {
  background-color: #0f613f;
  color: white;
  cursor: pointer;
}
.add-product {
  /* border: 1px solid #000; */
  box-shadow: 1px 1px 10px 1px #afafaf;
  width: 30%;
  padding: 20px;
  margin: 30px auto;
}
.add-product input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}
.description input {
  height: 120px;
}
