.product-detail {
  padding: 30px;
  border-radius: 4px;
  text-align: center;
  width: 800px;
  margin: 30px auto;
  box-shadow: 1px 1px 5px 1px #ddd;
}
.product-detail img {
  width: 100%;
}
.product-detail button {
  width: 30px;
  height: 30px;
}
