.form {
  width: 550px;
  margin: 30px auto;
  box-shadow: 1px 1px 5px 1px #ddd;
  padding: 20px;
  border-radius: 4px;
}
.form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 8px;
}
.form input {
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
}
.form button {
  margin-top: 20px;
  border: none;
  background-color: #0f613f;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}
.form button:hover {
  background-color: white;
  color: #0f613f;
}
